@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);

section h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px!important;
    line-height: 2;
    color:#000;
    
}
footer h4{
    font-family: 'Playfair Display', serif;
}
p{
    font-size: 18px!important;
    color:#777;
}
section h1{
    text-transform: uppercase !important;
}

.txt-lrg{
    
}
.about-wrap{   
    
}

.block_types {
    background-position: center center;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    /*border: solid 5px #000;*/
    color: #fff;
}
.block_types:hover {}
.one {
    /*background-color: #2b019d;*/
    background-image: url("/images/home5.jpg");
}
.one:hover {
    background-image: url("/images/artofprojection_small.gif");
    color: #000;
}
.two {
    background-image: url("/images/home6.jpg");
    /*background-color: #ff5454;*/
}
.two:hover {
    background-image: url("/images/artofprojection_small.gif");
    color: #000;
}
.three {
    background-image: url("/images/home18.jpg");
    /*background-color: #0b89c1;*/
}
.three:hover {
    background-image: url("/images/artofprojection_small.gif");
    color: #000;
}
.four {
    background-color: rgba(0, 255, 132, 1);
}
.four:hover {
    border: none;
    background-color: rgba(0, 255, 132, 1);
    color: #000;
    background-image: url("/images/end_fast.gif");
    background-blend-mode: difference;
}