--- 
layout: default 
---
    {% include hello.html %}
    {% include types.html %}
    {% include about-wrap.html %}



    
    <div id="faq-hero">
        <h1>create the life you want</h1>
    </div>
    
    
    <section id="locations">
        <h2>location</h2>
        <p class="txt-lrg">asheville, where technology meets nature</p>

        <div id="map-container">
            {% include map.html %}
             <div id="map-bar"></div>
        </div>


    </section>

    <section id="contact-form">
        <h2>Contact</h2>
        <p class="txt-lrg">New Media is all about questions and finding answers and when you can't find any answers you create one. Get in touch if you have questions.</p>


    </section>

     

            

            

       




