<!-- Big block of content that has the changing color background when scrolling -->

<div class="about-wrap">

    {% include faq.html %} 
    {% include statistics_nm.html %}
    {% include our_story.html %} 
    {% include our_philosophy.html %} 
    {% include our_commitment.html %}
    {% include the_graduate.html %}

    <section id="nm_buttons">
        <h1 class="hero-txt">it's your choice</h1>
        <br>
        <div class="center_buttons">
            <a href="http://nm.unca.edu" target="_blank">
                <div class="learn button adv-btn">learn_more</div>
            </a>
            <a href="http://nm.unca.edu" target="_blank">
                <div class="register button adv-btn">just_register</div>
            </a>
        </div>
    </section>
</div>