<section id="faq">
    <h2>faq</h2>
    <!--<h4>this is the only question everyone wants to know...</h4>-->
    <h1 class="hero-txt light">What can I do with a nm_degree?</h1>

    <div class="question">
        <h2>You can <span id="typed" class="typed"></span></h2>

        <div class="wrap">
            <div class="type-wrap">
                <div id="typed-strings">
                    
                    <p>do anything you want... no really!</p>
                    <p>join the cia!</p>
                    <p>be a film director.</p>
                    <p>design websites.</p>
                    <p>create interactive interfaces for hospitals.</p>
                    <p>build virtual reality environments.</p>
                    <p>start a revolution.</p>
                    <p>be a coder.</p>
                    <p>work from anywhere on your laptop.</p>
                    <p>be in politics.</p>
                    <p>brand the next president!</p>
                    <p>be a digital editor.</p>
                    <p>become a youtube sensation.</p>
                    <p>work for Pixar.</p>
                    <p>start your own production company.</p>
                    <p>work a camera.</p>
                    <p>create music videos.</p>
                    <p>design user interface for surgeons.</p>
                    <p>make big bucks as a creative director.</p>
                    <p>be a graphic designer.</p>
                    <p>do research.</p>
                    <p>visualize data.</p>
                    <p>change the world.</p>
                    <p>create hilarious super bowl ads.</p>
                    <p>brand anybody or anything!</p>
                    <p>start your own agency.</p>
                    <p>be an educator.</p>
                    <p>...whatever it is</p> 
                    <p>do it.</p>
                </div>
                <span id="typed" style="white-space:pre;"></span>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        (function($) {
            $(function() {
                $("#typed").typed({
                    stringsElement: $('#typed-strings'),
                    typeSpeed: 0,
                    backDelay: 1000,
                    loop: true,
                    cursorChar: "_",
                    contentType: 'text',
                    callback: function() {}

                });
            });



        })(jQuery);

    </script>


    <!--quick JS -->
    <!--
    <script type="text/javascript">
        (function ($) {

            $(function () {
                $("#typed").typed({
                    strings: ["do anything you want. no really!",
                              "design websites.", 
                              "be a film director.",
                              "work at a hospital.",
                              "be a coder.",
                              "join the cia!",
                              "build virtual reality environments.",
                              "be a digital editor.",
                              "work from anywhere on your laptop.",
                              "start a revolution.",
                              "become a youtube sensation.",
                              "work for Pixar.",
                              "start your own production company.",
                              "work a camera.",
                              "create music videos.", 
                              "design user interface for surgeons.",
                              "make big bucks as a creative director.",
                              "be a graphic designer.", 
                              "do research.",
                              "visualize data.",
                              "change the world.",
                              "create hilarious super bowl ads.",
                              "brand anybody or anything!",
                              "start your own agency.",
                              "be an educator."],
                    
                    typeSpeed: 60,
                    backDelay: 1500,
                    loop: true,
                    callback: function () {}
                });
            });
        })(jQuery);
    </script>


- ADD THIS TO THE FUNCTION IF THE BUG HAPPENS AGAIN -

        function jiggle_cursor(){
                $('.typed-cursor').toggle();
                setTimeout(function(){ jiggle_cursor(); }, 600);
            }

            jiggle_cursor();

-->






</section>
