<section id="faq">
    <h2>faq</h2>
    <h1 class="hero-txt light">What can I do with a nm_degree?</h1>

    <div class="question">
        <h2>You can <span id="typed" class="typed"></span></h2>
    </div>



    <!--quick JS -->
    <script type="text/javascript">
        (function ($) {

            $(function () {
                $("#typed").typed({
                    strings: ["do anything you want. no really!",
                              "design websites", 
                              "be a film director",
                              "work at a hospital",
                              "be a coder",
                              "join the cia!",
                              "build virtual reality environments",
                              "be a digital editor",
                              "work from anywhere on your laptop",
                              "start a revolution.",
                              "become a youtube sensation",
                              "work for Pixar",
                              "start your own production company",
                              "work a camera",
                              "create music videos", 
                              "design user interface for surgeons",
                              "make big bucks as a creative director",
                              "be a graphic designer", 
                              "do research",
                              "visualize data",
                              "change the world",
                              "create hilarious super bowl ads",
                              "brand anybody or anything!",
                              "start your own agency",
                              "be an educator"],
                    
                    typeSpeed: 60,
                    backDelay: 1500,
                    loop: true,
                    callback: function () {}
                });
            });
        })(jQuery);
    </script>


</section>