<section id="faq">
    <h2>faq</h2>
    <h1 class="hero-txt light">What can I do with a nm_degree?</h1>
    <div class="question">
        <h2>You can <span id="typed" class="typed"></span></h2>
        <div class="wrap">
            <div class="type-wrap">
                <div id="typed-strings">             
                    <p>do anything you want... no really!</p>
                    <p>join the cia!</p>
                    <p>be a film director.</p>
                    <p>design websites.</p>
                    <p>create interactive interfaces for hospitals.</p>
                    <p>build virtual reality environments.</p>
                    <p>start a revolution.</p>
                    <p>be a coder.</p>
                    <p>work from anywhere on your laptop.</p>
                    <p>be in politics.</p>
                    <p>brand the next president!</p>
                    <p>be a digital editor.</p>
                    <p>become a youtube sensation.</p>
                    <p>work for Pixar.</p>
                    <p>start your own production company.</p>
                    <p>work a camera.</p>
                    <p>create music videos.</p>
                    <p>design user interface for surgeons.</p>
                    <p>make big bucks as a creative director.</p>
                    <p>be a graphic designer.</p>
                    <p>do research.</p>
                    <p>visualize data.</p>
                    <p>change the world.</p>
                    <p>create hilarious super bowl ads.</p>
                    <p>brand anybody or anything!</p>
                    <p>start your own agency.</p>
                    <p>be an educator.</p>
                    <p>...whatever it is</p> 
                    <p>do it.</p>
                </div>
                <span id="typed" style="white-space:pre;"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function($) {
            $(function() {
                $("#typed").typed({
                    stringsElement: $('#typed-strings'),
                    typeSpeed: 0,
                    backDelay: 1000,
                    loop: true,
                    cursorChar: "_",
                    contentType: 'text',
                    callback: function() {}
                });
            });
        })(jQuery);
    </script>
</section>
