<footer role="contentinfo" class="page-footer">
        <div id="footer-split" class="clearfix">
            <address>                  
                <h4>NM at UNC Asheville</h4>
                    <p>205 Zeis Hall, CPO # 2015<br>
                    One University Heights<br>
                    Asheville, NC 28804 <br>
                    <a href="tel:828-350-4567">+1 828 350 4567</a></p>
                    <a href="mailto:tmccants@unca.edu">send an email</a>
                </address>
            <div id="follow">
                <h4>Follow</h4>
                <div id="icons">
                    <a href="https://www.facebook.com/groups/299573240070248/?fref=nf" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-facebook"></i></div>
                        </div>
                    </a>
                </div>
                <p>#hello_nm</p>
            </div>           
            <div class="site-credits">
                <h4>Makers</h4>
                    <h2>Site</h2>
                    <p><a href="https://www.facebook.com/Gabriel-Fobert-Art-Design-795087437245485/" target="_blank">Gabriel Fobert</a> + <a href="http://janiceaandrews.com/preview" target="_blank"> Janice Andrews </a> +<a href="https://vimeo.com/user39031336" target="_blank"> Nicole Erskine</a> + <a href="http://timscroggs.co" target="_blank">Tim Scroggs</a></p>
                <br>
                    <h2>Video</h2>
                    <p>Madeleine Richardson + Ana Pak + Chris Harris</p>       
            </div>
            <div class="official-logos">           
             <div class="nm-logo">
            <a href="http://nm.unca.edu"><img src="/images/nmlogo_white.svg"></a>
                 </div>
            <div class="unca-logo">
            <a href="http://unca.edu"><img src="/images/unca_logo_white.png"></a>
                </div>
        </div>      
    </div> 
    {% include site_credit.html %}
    </footer>
