<footer role="contentinfo" class="page-footer">
        <div id="footer-split" class="clearfix">
            <address>
                    
                <h4>New Media at UNC Asheville</h4>
                    <p>205 Zeis Hall, CPO # 2015<br>
                    One University Heights<br>
                    Asheville, NC 28804 <br>
                    +1 828 350 4567</p>
                    <a href="mailto:info@nm.unca.edu">info@nm.unca.edu</a>
                </address>

            <div id="follow">
                <h4>Follow</h4>
                <div id="icons">
                    <a href="#" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-facebook"></i></div>
                        </div>
                    </a>

                    <a href="#" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-instagram"></i></div>
                        </div>
                    </a>

                    <a href="#" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-twitter"></i></div>
                        </div>
                    </a>

                </div>
                <p>#hello_nm</p>
            </div>
            
            <div class="site-credits">
                <h4>Makers</h4>
                    <h2>Site</h2>
                    <p><a href="https://www.facebook.com/Gabriel-Fobert-Art-Design-795087437245485/">Gabriel Fobert</a> + <a href="http://janiceaandrews.com/preview"> Janice Andrews </a> +<a href="https://vimeo.com/user39031336"> Nicole Erskine</a> + <a href="http://timscroggs.co">Tim Scroggs</a></p>
                <br>
                    <h2>Video</h2>
                    <p>Madeleine Richardson + Ana Pak + Chris Harris</p> 
            
            </div>

        </div>
        <div class="official-logos">
            
             <div class="nm-logo">
            <a href="http://nm.unca.edu"><img src="/images/nmlogo_white.svg"></a>
                 </div>
            <div class="unca-logo">
            <a href="http://unca.edu"><img src="/images/unca_logo_white.png"></a>
                </div>
        </div>
    </footer>
