<div id='map'></div>
<script>
    L.mapbox.accessToken = 
'pk.eyJ1IjoiZ2ZvYmVydCIsImEiOiJjaWs4djJmYzYwMHBmdjRrdXM1Y2Flc2NiIn0.IYhHn-yc5t0mXA3ND8XkTw';
    var geojson = [
    {
  "type": "FeatureCollection",
  "features": [
      
      
      
    {
        "type": "Feature",
        "geometry": {
        "type": "Point",
        "coordinates": [
          -82.552926,
            35.602002
        ]
      },
        "properties": {
        "title": "Moog Music Inc, 160 Broadway",
        "marker-color": "#00ff84",
        "marker-size": "small",
        "marker-symbol": "triangle"
      }
    },
      
      
      
      {
        "type": "Feature",
        "geometry": {
        "type": "Point",
        "coordinates": [
          -82.552817,
          35.597776
        ]
      },
        "properties": {
        "title": "Center for Craft, Creativity & Design, 67 Broadway",
        "marker-color": "#00ff84",
        "marker-size": "small",
        "marker-symbol": "square"
      }
    },
      
      {
        "type": "Feature",
        "geometry": {
        "type": "Point",
        "coordinates": [
          -82.552044,
          35.597118
        ]
      },
        "properties": {
        "title": "Black Mountain Museum, 56 Broadway",
        "marker-color": "#00ff84",
        "marker-size": "small",
        "marker-symbol": "star"
      }
    },
      
      {
        "type": "Feature",
        "geometry": {
        "type": "Point",
        "coordinates": [
          -82.567590,
          35.617802
        ]
      },
        "properties": {
        "title": "We're here!",
        "marker-color": "#00ff84",
        "marker-size": "large",
        "marker-symbol": "college"
      }
    }
      
  ]
}
        ];
    /*Old Map Code
    mapboxgl.accessToken =
    'pk.eyJ1IjoiZ2ZvYmVydCIsImEiOiJjaWs4djJmYzYwMHBmdjRrdXM1Y2Flc2NiIn0.IYhHn-yc5t0mXA3ND8XkTw';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/gfobert/cikcuwcv8007c9slyoez5mhyj', //stylesheet location{
    scrollZoom: false //stop zoom on scroll
    }).setView([-82.56, 35.60], 13.8); //location of the map*/
    
    var map = L.mapbox.map('map', 'gfobert.6f9af935');
    map.scrollWheelZoom.disable();
    var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);
    map.scrollWheelZoom.disable();
    
</script>