<section id="commitment">
    <h2 class="light">Our_Commitment</h2>
    <p class="txt-adv light">You will be given the tools to go out and create the life you want to live. Using a method that fuses technology with a Liberal Arts education that will make you a unicorn in this media centric culture – probably...if you're any good! :&#41;</p>

    <div id="com-photo">
        <img src="images/optical_art.png">
        <div class="com-hero">New media is the future of a brave new world and we're here to make you brave!</div>
        <p class="photo-caption"></p>
    </div>

    <p class="txt-adv light">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</section>