<section id="about">
        <h2>Our_Story</h2>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

        <div id="nm-slider" class="owl-carousel owl-theme">
            <div class="item"><img src="/images/animation.jpeg"></div>
            <div class="item"><img src="/images/photography.jpeg"></div>
            <div class="item"><img src="/images/video.jpeg"></div>
            <div class="item"><img src="/images/video.jpeg"></div>
        </div>

    </section>