<section id="philosophy">
    <h2>Our Philosophy</h2>
    <p class="quote">“Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.”</p>


    <div class="philo-wrap clearfix">
        <div class="philo-half">
            <!--put content here-->
        </div>

        <div class="philo-half">
            <!--put content here-->
        </div>
    </div>
</section>