<section id="about">
        <h2>Our_Story</h2>
        <p>We are a science experiment brought together to blend the disciplines of artist, designer, and computer scientist. We are a rare bunch who push oursleves to open our minds and produce creative work in a broad spectrum of softwares and technological devices – and then, after we have made a crazy assortment of projects, we choose and focus on our specialty with well rounded experience in new media and a widened understanding of processes. Check out what a typical portfolio of one of our graduates looks like.</p>
    
        <div id="nm-slider" class="owl-carousel owl-theme">
            <div class="item"><div class="port-slider"><h1 class="hero-txt">Check this out!</h1> <a href="#"><h2>Click here</h2></a></div></div>
            <div class="item"><img src="/images/home5.jpg"></div>
            <div class="item"><img src="/images/home18.jpg"></div>
            <div class="item"><img src="/images/home27.jpg"></div>
            <div class="item"><img src="/images/home6.jpg"></div>
        </div>

    </section>