<section id="philosophy">
    <h2 class="light">Our_Philosophy</h2>
    <p class="quote light">“Experimentation is relevant to any discipline but particularly New Media because its <span style="text-decoration:underline;">new</span>, so how are you going to know what's possible unless you play and break things to see how it works”</p>
    <h6 class="credit light">Curt Cloninger, Professor of New Media at UNC Asheville</h6>
<br>

    <div class="philo-wrap clearfix">
        <div class="philo-half light">
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis.
        </div>

        <div class="philo-half light">
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        </div>
    </div>
</section>