<section> 
<div id="about">
        <h2>Our_Story</h2>
        <p>We are an educational science experiment – a fusion of artist, designer, and computer scientist – and we've had very successful results. Check out where several of our alumni are now.</p> </div>
    
        <div id="nm-slider" class="owl-carousel owl-theme">
            <div class="item slider1">
                    <div class="alumni">
                        <p>UNCA 2009</p>
                        
                        <h2>Allison Callaway</h2>
                        <h3>Web Designer</h3>
                        <br>
                        <p><a href="www.allisoncallaway.com">
                            &lt;Check out their work&gt;
                        </a></p>
                    </div>
            </div>
            <div class="item slider2">
                    <div class="alumni">
                        <p>UNCA 2010</p>
                        <h2>David Howard</h2>
                        <h3>Freelance Animator</h3>
                        
                        <br>
                        <p><a href="www.davidhfilms.com">
                            &lt;Check out their work&gt;
                        </a></p>
                    </div>
            </div>
            <div class="item slider3">
                    <div class="alumni">
                        <p>UNCA 2005</p>
                        <h2>Joshua Coyle</h2>
                        <h3>Web Designer, CEO of GRP82</h3>                   
                        <br>
                        <p><a href="www.joshuacoyle.com">
                            &lt;Check out their work&gt;
                        </a></p>
                    </div>
            </div>
            <div class="item slider4">
                    <div class="alumni">
                        <p>UNCA 2008</p>
                        <h2>Mike Patterson</h2>
                        <h3>Lead Designer at Secret Michael</h3>
                        <br>
                        <p><a href="www.secretmichael.com">
                            &lt;Check out their work&gt;
                        </a></p>
                    </div>
            </div>
            <div class="item slider5">
                    <div class="alumni">
                        <p>UNCA 2009</p>
                        <h2>Wray Bolwing</h2>
                        <h3>Graphic &amp; Web Designer</h3>
                        <br>
                        <p><a href="www.rgbk.org">
                            &lt;Check out their work&gt;
                            </a></p>
                    </div>
            </div>
        </div>

    </section>