 <section id="credit">
    <h2>site_credit</h2>
    <p>This site is a Senior Capstone Project, designed and built by New Media students at UNC Asheville: Gabriel Fobert, Janice Andrews, Nicole Erskine and Tim Scroggs. The content and imagery above showcases all orignal student work. And the style switcher – that beautiful multi-color bar fixed to the left of your browser window (On mobile? the buttons are in main menu.) – will modify the style of the site to the unique taste of each of the designers. Check it out! </p> 
     <div class="spacer"></div>
     <div id="follow">
         <h5>Share this project</h5>
                  <br>  
                <div id="icons">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//hellonm.unca.edu/" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-facebook"></i></div>
                        </div>
                    </a>
                    <a href="https://twitter.com/home?status=Check%20out%20this%20website%20made%20by%20New%20Media%20students%20at%20UNC%20Asheville!%20" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-twitter"></i></div>
                        </div>
                    </a>           
                    <a href="https://plus.google.com/share?url=https%3A//hellonm.unca.edu" target="_blank">
                        <div class="diamond">
                            <div class="diamond-border"></div>
                            <div class="the-icons"><i class="social-icon fa fa-google-plus"></i></div>
                        </div>
                    </a>
                </div>
</section>