<section id="statistics">
    <h2>attitude is everything</h2>
    <h4>Having the right attitude is key to thriving in the creative industry. Master these skills below and you will succeed! The first five were taken from <a href="http://www.aiga.org/want-to-change-your-job--first-change-your-attitude/">this great article</a> originally posted on <a href="http://www.aiga.org/">AIGA.org</a>, an incredible resource for aspiring designers/artists. </h4>
    
    <div class="statistics-row clearfix">
        <div class="block_timeline one_timeline type-blk">
            <div class="timeline_content">
            <h3>1. Be a pro-active doer</h3>
            <p>If you don't know what to do or find yourself stuck (which will often be the case when you're new in a job or just starting out in your career) ask someone who can give you the right answer.</p>
            </div>
        </div>
    


        <div class="block_timeline two_timeline type-blk">
            <div class="timeline_content">
            <h3>2. Be a problem solver</h3>
            <p>Your drive to find the best solution should always carry you through this stage of any brief, especially when you feel you've exhausted all possible creative avenues. </p>
            </div>
        </div>



        <div class="block_timeline three_timeline type-blk">
            <div class="timeline_content">
            <h3>3. an attentive listener</h3>
            <p>Design for the clients' needs, not what you think their needs are. </p>
            </div>
        </div>

        <div class="block_timeline four_timeline type-blk">
            <div class="timeline_content">
            <h3>4. Be a passionate learner</h3>
            <p>As this desire to grow develops into action and learning, you become more valuable and, in turn, are delivering higher standards of work. </p>
            </div>
        </div>

        <div class="block_timeline five_timeline type-blk">
            <div class="timeline_content">
            <h3>5. Be grateful</h3>
            <p>A small shift in perspective like this will not only have employers drawn to you, but you will begin to love challenges and have more energy in your approaches. </p>
            </div>
        </div>

        <div class="block_timeline six_timeline type-blk">
            <div class="timeline_content">
            <h3>6. do what you're afraid to do</h3>
            <p>if the projects your involved in and the clients you're going after don't scare you, then push harder and aim higher. </p>
            </div>
        </div>

        <div class="block_timeline seven_timeline type-blk">
            <div class="timeline_content">
            <h3>7. enjoy it, it'll be over soon</h3>
            <p>It may seem like an eternity when you're up against a creative block but don't forget to enjoy that part of the process too – you'll find the gold!</p>
            </div>
        </div>


    </div>

</section>