<section id="statistics">
    <h2>proof_nm</h2>
    <div class="statistics-row clearfix">
        <div class="block_timeline one_timeline type-blk">
            <p>If your goal was to become a graphic designer four years ago, you are now headed for a field that has become wholly digitized, so that designers with website design and digital animation experience will have the best opportunities and likely the highest salaries in the profession.</p>
            <h6 class="credit">Source: Bureau of Labor Statistics</h6>
        </div>



        <div class="block_timeline two_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>The economic impact of art and design exceeds that of sports worldwide </p>
            <h6 class="credit">Source: U.S. Bureau of Education</h6>
        </div>



        <div class="block_timeline three_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>Creative jobs have grown from 10% to over 30% of the economy </p>
            <h6 class="credit">Source: Americans for the Arts</h6>
        </div>

        <div class="block_timeline four_timeline type-blk">
            <h3><i class="fa fa-binoculars fa-2x"></i> 42%</h3>
            <p>By 2016, jobs for artists and designers are predicted to increase by 42% </p>
            <h6 class="credit">Source: National Endowment for the Arts</h6>
        </div>

        <div class="block_timeline five_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>Computer Science and Software Engineering are ranked by Forbes as the 3rd and 4th Most Valuable College Majors </p>
            <h6 class="credit">Source: Forbes</h6>
        </div>

        <div class="block_timeline six_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>
            <h6 class="credit">Source: Name Here</h6>
        </div>

        <div class="block_timeline seven_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>
            <h6 class="credit">Source: Name Here</h6>
        </div>

        <div class="block_timeline eight_timeline type-blk">
            <!--<h3><i class="fa fa-binoculars fa-2x"></i></h3>-->
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. </p>
            <h6 class="credit">Source: Name Here</h6>
        </div>

    </div>

</section>