<section id="graduate">
    <div class="graduate-pic light">
            <img src="/images/idea_graduate.png">
        </div>
    <h2 class="light">your_story</h2>
    <h1 class="hero-txt">typical graduate's portfolio</h1>
    <br>
    <p class="txt-adv light">A graduate from UNCA New Media will leave with a diverse portfolio covering a wide array of concepts and skills. You will get the experience of experimentation across multiple disciplines, technological devices and software.</p>
    
    <div class="types-row clearfix">

        <a href="#" data-featherlight="#interactive-port">
            <div class="block_types one-port type-blk">
                <div class="type_content">
                    <p class="subtitle">portfolio</p>
                    <h3 class="title">Student #1</h3>
                    <p>web + Interactive Design track</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#animation-port">
            <div class="block_types two-port type-blk">
                <div class="type_content">
                    <p class="subtitle">portfolio</p>
                    <h3 class="title">Student #2</h3>
                    <p>web + Interactive Design track</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#video-port">
            <div class="block_types three-port type-blk">
                <div class="type_content light">
                    <p class="subtitle">portfolio</p>
                    <h3 class="title">Student #3</h3>
                     <p>Video Art + Design track</p>
                </div>
            </div>
        </a>
        
        <a href="#" data-featherlight="#multi-port">
            <div class="block_types four-port type-blk">
                <div class="type_content">
                    <p class="subtitle">portfolio</p>
                    <h3 class="title">Student #4</h3>
                    <p>Dual focus in two tracks</p>
                </div>
            </div>
        </a>
    </div>
    
</section>



<div class="lightbox" id="interactive-port">
    <div class="lightbox-half">
        <h3 class="title">Projects Completed by student on web &amp; Interactive Design track</h3>
        <p>This is a real overview of work completed while a student at UNCA New Media with a focus in web &amp; Interactive Design</p>
        <br>
        <ul>
                <li>Custom mythical creature</li>
                <li>Promotional video using type animation</li>
                <li>Responsive website featuring a non-linear experience that demonstrates the mystery of memory through interactivity</li>
                <li>Director of an episode for a Independent Pilot Show</li>
                <li>Experimental web-based scrolling collage built out of custom animated gifs</li>
                <li>A collection of fine art pieces disassembled and animated into gifs that reveal the power of manipulation via digital media</li>
                <li>Interactive mucsical interface website </li>
                 
            </ul>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <ul>
                <li>3-d animated short film</li>
                <li>Music video</li>
                <li>Personal logo</li>
                <li>Pitch deck template</li>
                <li>Stop-motion film</li>
                <li>Abstract film</li>  
                <li>T-shirt design</li>
                <li>Web application using an api that evaluates the sentiment of text and website urls</li>
                <li>Custom typeface that was offered online as a free download</li>
                <li>Realistic 3-d environment modeled, textured, and lighting in Maya</li>
                <li>Narrative short film</li>
               

            </ul>
    </div>
</div>


<div class="lightbox" id="animation-port">
    <div class="lightbox-half">
        <h3 class="title">3-d &amp; Animation</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>
<div class="lightbox" id="video-port">
    <div class="lightbox-half">
        <h3 class="title">video &amp; Motion Graphics</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>

<div class="lightbox" id="multi-port">
    <div class="lightbox-half">
        <h3 class="title">video &amp; Motion Graphics</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>