<section id="graduate">
    <div class="graduate-pic light">
            <img src="/images/idea_graduate.png">
        </div>
    <h2 class="light">your_story</h2>
    <h1 class="hero-txt">typical graduate's portfolio</h1>
    <br>
    <p class="txt-adv light">If you graduate from here with a BA in New Media, the potential that you will leave with a diverse portfolio will be great. You will get the opportunity to gain experience across multiple disciplines, technological devices and software.</p>
    <div class="graduate-wrap clearfix">
        <div class="graduate-half light">
            <ul>
                <li>Custom mythical creature</li>
                <li>Promotional video using type animation</li>
                <li>Responsive website featuring a non-linear experience that demonstrates the mystery of memory through interactivity</li>
                <li>Director of an episode for a Independent Pilot Show</li>
                <li>Experimental web-based scrolling collage built out of custom animated gifs</li>
                <li>A collection of fine art pieces disassembled and animated into gifs that reveal the power of manipulation via digital media</li>
                <li>Interactive mucsical interface website </li>
                 
            </ul>
        </div>

        <div class="graduate-half light">
            <ul>
                <li>3-d animated short film</li>
                <li>Music video</li>
                <li>Personal logo</li>
                <li>Pitch deck template</li>
                <li>Stop-motion film</li>
                <li>Abstract film</li>  
                <li>T-shirt design</li>
                <li>Web application using an api that evaluates the sentiment of text and website urls</li>
                <li>Custom typeface that was offered online as a free download</li>
                <li>Realistic 3-d environment modeled, textured, and lighting in Maya</li>
                <li>Narrative short film</li>
               

            </ul>
        </div>
    </div>
</section>