<section id="types">
    <h2>types_nm</h2>


    <div class="types-row clearfix">

        <a href="#" data-featherlight="#interactive">
            <div class="block_types one type-blk">
                <div class="type_content">
                    <h3 class="title">web + Interactive Design</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#animation">
            <div class="block_types two type-blk">
                <div class="type_content">
                    <h3 class="title">Animation</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#video">
            <div class="block_types three type-blk">
                <div class="type_content">
                    <h3 class="title">Video Art + Design</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>
        <a href="#" data-featherlight="#mix">
            <div class="block_types four type-blk">
                <div class="type_content">
                    <h3 class="title">Or you can mix it up</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>
    </div>

</section>
<div class="lightbox" id="interactive">
    <div class="lightbox-half">
        <h3 class="title">web &amp; Interactive Design</h3>
        
        <p class="overview"> If you decide to follow the web + interactive track, prepare to have your mind blown! We blend big ideas with web design, interactivity and a splash of performance art.  You will learn how to create, code, and publish content for any device while mastering HTML5, Javascript, CSS3. If you are as passionate about web design as we are, come join us!</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        
    </div>
</div>
<div class="lightbox" id="animation">
    <div class="lightbox-half">
        <h3 class="title">3-d &amp; Animation</h3>
        <p class="overview"> Our New Media's animation program was designed to prepare you for a career in this ever-changing field. You will continue to expand your artistic abilities and maybe learn some new tricks in 2-d and 3-d modeling, compositing, rendering, and rigging all with the latest software and technology at your disposal and that's just the beginning. Come check it out!</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">maya + mudbox + 3ds max + flash + toonboom</p>
        
    </div>
</div>
<div class="lightbox" id="video">
    <div class="lightbox-half">
        <h3 class="title">video  Art &amp; Design</h3>
        <p class="overview"> The video art + design track here at UNCA you learn the industry from the ground up. This program is all about hands-on-experience. You’ll learn the preproduction process: creating story, scripts, to the production process: shooting, lighting, recording audio, finally the post-production process: cutting, rearranging, and enhancing footage, recording and editing additional dialogue, sound effects, music, as well as adding visual effects and titles. With all of that and more, there can't be a reason not to sign up!</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">final cut pro + after effects + premiere pro + max msp jitter</p>
        
    </div>
</div>
<div class="lightbox" id="mix">
    <div class="lightbox-half">
        <h3 class="title">mix it up/dual focus</h3>
        <p class="overview">This is a dual focus track that blends the courses.</p>
        <br>
        <p class="overview"> Why settle when you can have it all? It's understandable if you can't bring yourself to pick just one of these tracks, we get it. So why not double up and experiment with your own creative blend that fits your skill and interest?  Try Animation/Video Art + Design or Web + Interactive/Video Art + Design. Here at UNCA, new media can be anything you make it!</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter + final cut pro + after effects + premiere pro + maya + mudbox + 3ds max + flash + toonboom </p>
        
    </div>
</div>
