<section id="types">
    <h2>types_nm</h2>


    <div class="types-row clearfix">

        <a href="#" data-featherlight="#interactive">
            <div class="block_types one type-blk">
                <div class="type_content">
                    <h3 class="title">web &amp; Interactive Design</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#animation">
            <div class="block_types two type-blk">
                <div class="type_content">
                    <h3 class="title">3-d &amp; Animation</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>

        <a href="#" data-featherlight="#video">
            <div class="block_types three type-blk">
                <div class="type_content">
                    <h3 class="title">Video &amp; motion graphics</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>
        <a href="#" data-featherlight="#mix">
            <div class="block_types four type-blk">
                <div class="type_content">
                    <h3 class="title">Or you can mix it up</h3>
                    <p>learn_more</p>
                </div>
            </div>
        </a>
    </div>

</section>
<div class="lightbox" id="interactive">
    <div class="lightbox-half">
        <h3 class="title">web &amp; Interactive Design</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>
<div class="lightbox" id="animation">
    <div class="lightbox-half">
        <h3 class="title">3-d &amp; Animation</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>
<div class="lightbox" id="video">
    <div class="lightbox-half">
        <h3 class="title">video &amp; Motion Graphics</h3>
        <p class="overview">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>
<div class="lightbox" id="mix">
    <div class="lightbox-half">
        <h3 class="title">mix it up/dual focus</h3>
        <p class="overview">This is a dual focus track that blends the courses.</p>
        <br>
        <p class="overview"> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    </div>
    <div class="lightbox-half">
        <h4 class="lightbox-secondary-heading">Software</h4>
        <p class="details">photoshop + illustrator + html + css + javascript + brackets + dreamweaver + max msp jitter</p>
        <br>
        <h4 class="lightbox-secondary-heading">Projects</h4>
        <p class="details">Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. </p>
    </div>
</div>
