<section id="types">
    <h2>types_nm</h2>
    <div class="types-row clearfix">
        <div class="block one type-blk">
            <h3>Interactive</h3>
            <p>Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. </p>
        </div>



        <div class="block two type-blk">
            <h3>Animation</h3>
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>
        </div>



        <div class="block three type-blk">
            <h3>Video </h3>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum. </p>
        </div>

        <div class="block four type-blk">
            <h3>Or mix it up </h3>
            <p>You choose how you want to blend the technologies throughout your degree and go crazy. </p>
        </div>
    </div>

</section>