<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
    <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css" title="main">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/tim.css" title="tim">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/janice.css" title="janice">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/gabriel.css" title="gabriel">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/nicole.css" title="nicole">


    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

<!-- Do we need both of these jQuery docs? -->
    <script type="text/javascript" src="{{site.baseurl}}/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/scripts/jquery.js"></script>
    
    
    <!-- Get jQuery from typed.js plugin -->
    <script src="{{site.baseurl}}scripts/typed.js" type="text/javascript"></script>
    
    <!-- END - Get jQuery from typed.js plugin -->
    
    
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
    <script src="{{site.baseurl}}/scripts/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <!-- load cover -->
    <div class="pace-cover"></div>
    <div class="container-main">
        <header role="banner" id="top">

            <div class="curtain">
                <h2 class="fixed-logo">{{site.title}}</h2>
                <div class="hero-knockout"></div>
                
            </div>

            <div id="hero">
                <h1 class="hero-txt hero-reveal"><!--what is new media?-->  
                    <!-- Button trigger modal --><a class="btn" data-featherlight="#video-play"><i class="fa fa-play-circle fa-1x"></i></a></h1>
                <video muted loop autoplay poster="{{site.baseurl}}/videos/Snapshots/hello_nm_video.jpg" class="video_layer_vid avoid-clicks">
                    <source src="{{site.baseurl}}/videos/WEBM/hello_nm_video.webm" type="video/webm">
                    <source src="{{site.baseurl}}/videos/MP4/hello_nm_video.mp4" type="video/mp4">
                    <source src="{{site.baseurl}}/videos/OGV/hello_nm_video.ogv" type="video/ogg">  
                </video>
                <div class="mobile-poster"></div>
            </div>

        </header>
        <div class="lightbox-vid">
            <iframe class="lightbox" src="https://player.vimeo.com/video/157631810?badge=0&title=0&byline=0" width="100%" height="100%" id="video-play" style="border:none;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div id="nav-spacer"></div>
        
<!-- style switcher menu -->
        <div class="style-switcher-menu">
                <form class="style-switcher">
                    <input id="main-refresh" type="submit" onclick="switch_style('main');return false;" name="theme" value="Reset_style" id="main">
                    <input id="tim-theme" type="submit" onclick="switch_style('tim');return false;" name="theme" value="Tim_Experience" id="tim">
                    <input id="janice-theme" type="submit" onclick="switch_style('janice');return false;" name="theme" value="Janice_Experience" id="janice">
                    <input id="gabriel-theme" type="submit" onclick="switch_style('gabriel');return false;" name="theme" value="Gabriel_Experience" id="gabriel">
                    <input id="nicole-theme" type="submit" onclick="switch_style('nicole');return false;" name="theme" value="Nicole_Experience" id="nicole">
                </form>
            
          </div> 
        <!-- main nav -->
        <nav id="main-nav">
            <ul>
                <li class="nav1 nav-active"><a class="ss-target" href="#hello">hello_nm</a></li>
                <li class="nav2"><a class="ss-target" href="#types">types_nm</a></li>
                <li class="nav3"><a class="ss-target" href="#faq">faq</a></li>
                <li class="nav4"><a class="ss-target" href="#about">our_story</a></li>
                <li class="nav5"><a class="ss-target" href="#locations">location</a></li>
                <li class="nav6"><a class="ss-target" href="#contact-form">get_more</a></li>
            </ul>
           
            
            
        </nav>

        <!-- mobile nav -->
        <div id="mobile-nav">
            <header class="cd-header">
                <a href="#top">
                    <div class="mobile-nav-logo">hello_nm</div>
                </a>

                <div class="cd-primary-nav-trigger">
                    <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
                </div>
            </header>

            <nav>
                <ul class="cd-primary-nav">
                    <li><a class="ss-target" href="#types">types_nm</a></li>
                    <li><a class="ss-target" href="#faq">faq</a></li>
                    <li><a class="ss-target" href="#about">our_story</a></li>
                    <li><a class="ss-target" href="#locations">location</a></li>
                    <li><a class="ss-target" href="#contact-form">get_more</a></li>
                    <li>
                        <p class="mobile-nav-title">style sitcher menu</p>
                        <form class="style-switcher-mobile">
                            <a href=""><input id="main-refresh" type="submit" onclick="switch_style('main');return false;" name="theme" value="Original_Experience" id="main"></a>
                            <a href=""><input id="tim-theme" type="submit" onclick="switch_style('tim');return false;" name="theme" value="Tim_Experience" id="tim"></a>
                            <a href=""><input id="janice-theme" type="submit" onclick="switch_style('janice');return false;" name="theme" value="Janice_Experience" id="janice"></a>
                            <a href=""><input id="gabriel-theme" type="submit" onclick="switch_style('gabriel');return false;" name="theme" value="Gabriel_Experience" id="gabriel"></a>
                            <a href=""><input id="nicole-theme" type="submit" onclick="switch_style('nicole');return false;" name="theme" value="Nicole_Experience" id="nicole"></a>
                        </form>
                        <br>
                    </li>
                    
                </ul>
            </nav>
        </div>

        {{content}} {% include footer.html %}

    </div>
    <!-- Load jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{site.baseurl}}/scripts/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <!-- Main JS -->
    <script src="{{site.baseurl}}/scripts/main.js"></script>

    <!-- for featherlight light box -->
    <script type="text/javascript" src="{{site.baseurl}}/scripts/vendor/featherlight.min.js"></script>
    <!--
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>-->




    <script>
        // *** TO BE CUSTOMISED ***

        var style_cookie_name = "style";
        var style_cookie_duration = 30;
        var style_domain = "{{site.baseurl}}";

        // *** END OF CUSTOMISABLE SECTION ***
        // You do not need to customise anything below this line

        function switch_style(css_title) {
            // You may use this script on your site free of charge provided
            // you do not remove this notice or the URL below. Script from
            // http://www.thesitewizard.com/javascripts/change-style-sheets.shtml
            var i, link_tag;
            for (i = 0, link_tag = document.getElementsByTagName("link"); i < link_tag.length; i++) {
                if ((link_tag[i].rel.indexOf("stylesheet") != -1) &&
                    link_tag[i].title) {
                    link_tag[i].disabled = true;
                    if (link_tag[i].title == css_title) {
                        link_tag[i].disabled = false;
                    }
                }
                set_cookie(style_cookie_name, css_title,
                    style_cookie_duration, style_domain);
            }
        }

        function set_style_from_cookie() {
            var css_title = get_cookie(style_cookie_name);
            if (css_title.length) {
                switch_style(css_title);
            }
        }

        function set_cookie(cookie_name, cookie_value,
            lifespan_in_days, valid_domain) {
            // http://www.thesitewizard.com/javascripts/cookies.shtml
            var domain_string = valid_domain ?
                ("; domain=" + valid_domain) : '';
            document.cookie = cookie_name +
                "=" + encodeURIComponent(cookie_value) +
                "; max-age=" + 60 * 60 *
                24 * lifespan_in_days +
                "; path=/" + domain_string;
        }

        function get_cookie(cookie_name) {
            // http://www.thesitewizard.com/javascripts/cookies.shtml
            var cookie_string = document.cookie;
            if (cookie_string.length != 0) {
                var cookie_value = cookie_string.match(
                    '(^|;)[\s]*' +
                    cookie_name +
                    '=([^;]*)');
                return decodeURIComponent(cookie_value[2]);
            }
            return '';
        }
    </script>
    

    <!-- Google Analytics Script goes here -->
    
    
    
    
    <!-- END - Google Analytics Script goes here -->

    
    <!-- Site by Gabriel Fobert, Nicole Erskine, Janice Andrews, and Tim Scroggs -->
</body>

</html>